/* src/components/Header/Header.css */

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    position: fixed;
    width: 100%;
    padding: 1rem 0;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    padding-left: 2rem;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navigation ul li a {
    text-decoration: none;
    color: #555;
    font-weight: 500;
    padding-bottom: 5px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navigation ul li a:hover {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}

.user-actions {
    position: relative;
    padding-right: 2rem;

}

.auth-links {
    display: flex;
    gap: 1rem;

}

.login-button,
.register-button {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button {
    background-color: transparent;
    color: #007bff;
    border: 1px solid #007bff;
}

.login-button:hover {
    background-color: #007bff;
    color: #fff;
}

.register-button {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

.register-button:hover {
    background-color: #0056b3;
}

/* Estilo do Dropdown para "Meu Perfil" */
.dropdown .user-profile-button {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}